*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgb(221, 218, 218);
}
a , a:visited{
    color: inherit;
    text-decoration: none;
}
.container{
    width: 60%;
    margin: 50px auto 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.759);
    background: rgb(250, 250, 250);
    height: 500px;
    position: relative;
}
.signup{
    width: 100%;
    height: 100%;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
}
.signup>h2{
    padding: 0.5rem 0;
    width: 100%;
    background-image: url(../img/bg-1.png);
    background-position: 100% 79%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.signup>.social ~ div{
    padding: 0.1rem 0;
    width: 100%;
    
}
.signup>h2{
    text-align: center;
}
label{
    font-size: 0.8rem;
    width: 80px;
    display: inline-block;
}
input{
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 10px rgba(221, 221, 221, 0.696);
    margin: 0.3rem 0;
}
span{
    font-size: 0.6rem;
    display: block;
    text-align: center;
}
.social{
    display: flex;justify-content: center;
    font-size: 1.2rem;
    color: rgb(157, 153, 152);
    padding: 0.5rem;
}
.social>a{
    margin:0 0.5rem;
    display: block;
}
.signup>button{
    background: linear-gradient(to right,#9ea9d0,#997ebb,#86318d,#670664);
    color: #fff;
    border: none;
    outline: none;
    padding: 0.7rem 1.7rem;
    border-radius: 18px;
    cursor: pointer;
    margin: 0.5rem 0;
}
.signup>a{
    font-size: 0.7rem;
    display: block;
    width: 100%;
    text-align: center;
}

/* //*************form 2 */

.form-2{
    background: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;top: 0;
    visibility: hidden;
    border-radius: 15px;
    display: flex;flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    opacity: 0;
    transition: 1s;
}
.form-2>.social ~ div{
    width: 100%;
}
.form-2>h2{
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    background-image: url(../img/bg-2.png);
    background-position: 100% 79%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.form-2>a{
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

.form-2>button{
    background: linear-gradient(to right,#c08037,#d1632c,#e6251f,#9d0026);
    color: #fff;
    border: none;
    outline: none;
    padding: 0.7rem 1.7rem;
    border-radius: 18px;
    cursor: pointer;
    margin: 0.5rem 0;
    
}


.visiable{
    visibility: visible;
    opacity: 1;
}
.unvisible{
    visibility: hidden;
    opacity: 0;
}



/* ********overly******* */
.row-1{
    width: 50%;
    height: 100%;
    /* border: 2px solid blue; */
    position: relative;
    transition: 1s;
    
}

.anime-1{
    transform: translateX(100%);
}

.overly{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;right: 0;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    color: #fff;
    transition: 1s;
    background:url(../img/bg-1.png) no-repeat;
    background-position: 97% 50%;
    background-size: cover;
}
.bg-2{
    background:url(../img/bg-2.png) no-repeat;
    background-position: 97% 50%;
    background-size: cover;
}
.left{
    transform: translateX(-100%);
}
.overly>p , .overly>h2{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.overly>h2{
    font-size: 2.5rem;
}
.overly>p{
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.overly>button{
    border: 2px solid #fff;
    color: #fff;
    outline: none;
    padding: 0.7rem 1.7rem;
    border-radius: 20px;
    cursor: pointer;
    margin: 0.5rem 0;
    background: none;
    margin: 1rem 0;
}

.b{
    display: block;
    text-align: center;

}
.b>strong{
    background-image: url(../img/bg-1.png);
    background-position: 100% 79%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

